{
    "all": true,
    "check-coverage": true,
    "cache": true,
    "recursive": true,
    "include": [
            "tasks/**/*.ts"
    ],
    "include": [
        "tasks/**/*.ts"
    ],
    "exclude": [
            "coverage/",
            "node_modules/"
    ],
    "extensions": [
        ".ts",
        ".tsx"
    ],
    "report-dir": "./coverage",
    "reporter": [
        "clover",
        "lcov",
        "cobertura",
        "html",
        "text",
        "text-summary"
    ],
    "temp-directory": "./coverage/.nyc_output"
}